.header-text {
  margin: 2rem;
  padding: 0.5rem;
}

h1 {
    font-size: 6rem;
}

.h1-subtext {
  font-size: 3rem;
}

body{
  background-image: linear-gradient(120deg, #f6cf65,#9f85fd);
  color: rgb(255, 255, 255);
  font-family: "Lobster", sans-serif;
  min-height: 90vh;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.div-buttoncounter {
  display: flex;
  margin: 2rem;
  padding: 2rem;
}

.div-block {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

button{
  display: flex;
  margin: 2rem;
  padding: 2rem;
}


